.title{
    align-items: flex-start;
    justify-content: flex-start;
    color: yellow;
}

.homeBackground{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;    
    background-image: url('../images/girar.jpeg');
    background-repeat: repeat;
}

.buttonCreate{
    display: flex;
    align-items: flex-end;
    font-size: 70px;
    color: #c7a008;
    font-family: sans-serif;
    text-decoration: none;
    font-size: medium;
}